/* global tag; sets it for everything; overrides anything in html */
*{
  background-color: #009933 ;
}

/* green
blue #0066ff
yellow */
/* applies only to div tag */
/* div {
  margin-top: 50px;
  margin-left: 40px;
} */
h1 {
  color: #ffff66 ;
  font-family: "Impact, Charcoal, sans-serif";
}

#PlayersLink {
  position: absolute;
  right: 50px;
  top: -10px;
}

/* only applies border to div with brazil_flag id */
#brazil_flag {
  margin-top: 50px;
  border-style: ridge;
  border-color: blue;
}

#blue {
  color: blue;
}

#bold_underline {
  text-decoration: underline;
  font-size: 24px;
}
 ul {
   list-style-type: none;
 }

#players {
  height: 400px;
  width: auto;
  border-style: double;
  border-width: thick;
  border-color: #0066ff;
}

#socialMedias {
  font-size: 20px;
}

#boldNames {
  color: white;
  font-size: 22px;
}
